.mainGame{
  background-image: url("../images/asets/comprimidas/fondoLight.jpg");
  background-repeat: no-repeat;
  background-size: cover ;

  position: relative;
  display: flex;
  justify-content: center;
  width: 80%;
    height: 100vh;
    margin:auto;
}
.mainGame.dark{
  background-image: url("../images/asets/comprimidas/fondoDark.jpg");
}

.mainTitle{
  font-size: 70px;
  color: rgb(66, 65, 66);
  line-height: 1;
  margin: 10px;
  margin-top: 30px;
}
.mainTitle.dark{
  color: rgb(219, 219, 219);
}

.btnMain{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--oscuro);
  box-shadow:4px -4px var(--claro);
  top: 50%;
  height: min fit-content;
  border-radius: 14px;
  text-align: center;
  padding: 0.2rem;
  cursor: pointer;
  width: 150px;
  z-index: 4;
  color: white;
  font-size: 20px;
}
.btnMain:hover{
  background-color: #6d6c6d;
}
.btnMain:visited {
  text-decoration: none;
}

.btnCant{
  position:relative;
  background-color: var(--oscuro);
  box-shadow:4px -4px var(--claro);
  height: min fit-content;
  border-radius: 14px;
  text-align: center;
  padding: 0.2rem;
  cursor: pointer;
  margin:10px;
  width: 150px;
  z-index: 4;
  color: white;
  border: 1px grey solid;
  text-decoration: none;
  font-size: 20px;
}
.winPoints{
  width: 30px;
  height: auto;
  position: absolute;
  right: -20px;
  top: -3px;
  z-index: 5;
  font-size: 15px;
  background-color: green;
  border-radius: 30px;
}
.winIcon{
  width: 30px;
  height: auto;
  position: absolute;
  left: -20px;
  top: 4px;
  z-index: 5;
}
@media screen and (max-width: 1000px){
  .mainGame{
    width: 100%;
  }
}