:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  width: 100%;
  height: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
:root {
  --claro: rgb(128, 128, 128, 0.9);
  --oscuro: rgb(66, 65, 66, 0.9);
  --bgMain: url('./images/asets/comprimidas/fondoLightGrecia.jpg');
  --bgMainDark: url('./images/asets/comprimidas/fondoDarkGrecia.jpg');
  --bgApp: url('./images/asets/comprimidas/light.jpg');
  --bgAppDark: url('./images/asets/comprimidas/fondoDarkGrecia.jpg');
  --bgAppPaleo: url('./images/asets/comprimidas/fondoPaleo.jpg');
  --bgAppGriegos: url('./images/asets/comprimidas/fondoLightGrecia.jpg');
  --bgAppNeo: url('./images/asets/comprimidas/fondoNeo2.jpg');
}
a {
  text-decoration: inherit;
}
/* 

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
